<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Edit task</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>Instagram!</h1>
      <form action="/todos/<%=task.id%>" method="POST">
        <div class="mb-3">
          <input
            class="form-control"
            name="title"
            placeholder="Task name"
            value="<%=task.title%>"
          />
        </div>
        <div class="mb-3">
          <textarea
            name="description"
            class="form-control"
            placeholder="Task description"
            rows="5"
          ><%=task.description%></textarea>
        </div>
        <div class="form-check mb-3">
          <input
            class="form-check-input"
            type="checkbox"
            name="isCompleted"
            id="isCompleted"
            <%= task.isCompleted ? 'checked="true"' : '' %>
          />
          <label class="form-check-label" for="isCompleted"> Completed? </label>
        </div>
        <button class="btn btn-primary">Update task</button>
      </form>
    </div>
  </body>
</html>
