<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tasks</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>Todo App!</h1>
      <a class="btn btn-primary" href="/create">Create todo</a>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Completed</th>
            <th scope="col">User</th>
            <th scope="col">Created at</th>
            <th scope="col">Updated at</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for (let task of tasks) { %>
          <tr>
            <td><%=task.title%></td>
            <td><%=task.description%></td>
            <td><%=task.isCompleted%></td>
            <td><%=task.user.username%></td>
            <td><%=task.createdAt%></td>
            <td><%=task.updatedAt%></td>
            <td>
              <a href="/edit/<%=task.id%>" class="btn btn-secondary">Edit</a>
              <a href="/delete/<%=task.id%>" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
